<div class="container">
    <button [routerLink]="['/']" class="back-btn">Назад</button>
    <h3>Запись "{{card.name}}"</h3>
    <form >
        <textarea class="title-input" [value]="card.name" (input)="card.newName = $event.target.value"></textarea>
        <textarea class="content-input" [value]="card.description" (input)="card.newDescription = $event.target.value"></textarea>
        <div class="btns">
            <button class="del-btn" (click)="del()" [routerLink]="['/']">Удалить</button>
            <button class="btn" [routerLink]="['/']" (click) = "card.name = card.newName; card.description = card.newDescription;">Сохранить</button>
        </div>    
    </form>    
</div>
