h1 {
    text-align: center;
}

.cards-block {
    width: 80%;
    margin-left: 10%;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-width: 25%;
    max-width: 5%; */
    margin: 10px;
    margin-bottom: 50px;
    /* flex-basis: 30%; */
}

.card-title {
    font-weight: bold;
}

.card-content {
    border: 1px solid black;
    padding: 10px;
    width: 300px;
    height: 100px;
    background-color: white;
}

.btn-go-to {
    width: 320px;
    height: 25px; 
    background-color: #dbe8f9;
    border: 1px solid #bac9dd;
    padding: 2px;
    border-radius: 4px;
}

.add-btn {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
    padding: 7px 15px;
}